.site-nav {
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid;
  
  a {
    margin-right: 1rem;
    text-decoration: none;
    
    &:last-child {
      margin-right: 0;
    }
    
    &:hover {
      text-decoration: underline;
    }
  }
}