<div id="giscus-comments"></div>
<script src="https://giscus.app/client.js"
        data-repo="gongyisheng/blog"
        data-repo-id="R_kgDOPEDhyg"
        data-category="Q&A"
        data-category-id="DIC_kwDOPEDhys4CsRNR"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="preferred_color_scheme"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>